@charset "UTF-8";

@use '../common/css/Layout/main';
@use '../common/css/Component/button';


@mixin paddingSide {
  padding: 10px 15px 0;
  @media screen and (min-width:768px){
    padding: 10px 40px 0;
  }
}
@mixin contentsJpTtl {
  font-size: 20px;
  line-height: 1;
  padding-top: 5px;
  @media screen and (min-width:768px){
    font-size: 22px;
  }
  @media screen and (min-width:960px){
    font-size: 24px;
  }
}
@mixin contentsSentence {
  font-size: 14px;
  line-height: 2;
  text-align: justify;
  padding-top: 20px;
  @media screen and (min-width:768px){
    font-size: 14px;
  }
  @media screen and (min-width:920px){
    font-size: 18px;
  }
}
@mixin grayZone {
  height: 60px;
  display: block;
  width: 100%;
  background-color: #f1f1f1;
  margin: 30px 0;
}

.aboutInner,
.recruitInner,
.businessInner
 {
  background-color: #f1f1f1;
  padding: 60px 0;
  margin: 30px 0;
  @media screen and (min-width:960px){
    padding: 120px 0;
    margin: 50px 0;
  }
}
.contents {
  background-color: #fff;
  padding: 60px 0;
  margin: 0 0 60px ;
  &:last-child{
    margin: 0;
  }
  @media screen and (min-width:960px){
    margin: 0 0 100px;
    &:last-child{
      margin: 0;
    }
  }
}


.contentImg {
  @media screen and (min-width:960px){
    width: 50%;
  }
  img {
    width: 100%;
    vertical-align: bottom;
  }
}
.contents .txtWrap {
  @include paddingSide();
  @media screen and (min-width:960px){
    width: 30%;
  }
  @media screen and (min-width:1080px){
    width: 23%;
  }
  .contentTtl {
    padding-top: 10px;
    @media screen and (min-width:960px){
      padding-top: 0px;
    }
  }
  span {
    font-size: 18px;
    line-height: 1.6;
    padding-top: 20px;
    color: #e95520;
    letter-spacing: 5px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    display: inline-block;
    @media screen and (min-width:960px){
      padding-top: 0px;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 1;
    padding-top: 5px;
    @media screen and (min-width:768px){
      font-size: 22px;
    }
    @media screen and (min-width:960px){
      font-size: 24px;
    }
  }
  p {
    @include contentsSentence();
  }
  
}
.content1 {
  .movie-button {
    span {
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &::before {
        content: "";
        width: 14vw;
        padding-top: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.45);
        border-radius: 50%;
        pointer-events: none;
        transition: background-color 1s;
      }
      &::after {
        border-left: 4.46vw solid #fff;
        border-top: 3vw solid transparent;
        border-bottom: 3vw solid transparent;
        height: 0;
        width: 0;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -50%);
        pointer-events: none;
      }
    }
    &:hover{
      span{
          &::before{
              background-color: #e95520;
              transition: background-color 0s;
          }
      }
  }
  }

  @media screen and (min-width:960px){
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    .txtWrap {
      padding: 0 10% 0 10%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 30%;
    }
    .contentImg {
      img {
        border-radius: 0 30px 30px 0;
      }
    }
  }
  @media screen and (min-width:1280px){
    .txtWrap {
      padding: 0 20% 0 8%;
      width: 22%;
    }
  }
  .movie_wrap {
    h4 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
      color: #e95520;
      @media screen and (min-width:960px){
        font-size: 30px;
      }
    }
  }
}


.content2 {
  @media screen and (min-width:960px){
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  .txtWrap {
    padding: 0 10% 0 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 30%;
  }
  .contentImg {
    img {
    border-radius: 30px 0 0 30px;
  }
  }
  } 
  @media screen and (min-width:1280px){
    .txtWrap {
      padding: 0 8% 0 20%;
      width: 22%;
    }
  }
}

.moreButtonWrap {
  @include button.moreButton;
}



#faq-content {
  width: calc(100% - 30px);
  padding: 30px 15px;
  margin: 0 auto;
  @media screen and (min-width:768px){
    width: calc(100% - 60px);
    padding: 60px 30px;
    max-width: 1100px;
  }  
  h3 {
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E1EBEE;
    position: relative;
    display: block;
    width: 100%;
    margin-top: 63px;
      &::after {
        content: "";
        width: 25px;
        display: block;
        border-bottom: 2px solid;
        color: #3E5EAC;
        position: absolute;
        bottom: -1px;
        left: 0%;
      }
  }
  h4 {
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    color: #e95520;
    @media screen and (min-width:768px){
      font-size: 30px;
    } 
  }
  h5 {
    font-size: 20px;
    text-align: center;
  }
  .faq-content-text {
    line-height: 1.4;
    text-align: center;
    margin: 20px 0;
  }
  .p-top {
    font-size: 16px;
    text-align: center;
  }
  p {
    font-size: 16px;
    text-align: left;
    @media screen and (min-width:768px){
      font-size: 21px;
    } 
  span {
      font-size: 20px;
      text-align: left;
      font-weight: 500;
      color: #e95520;
      padding-right: 10px;
      @media screen and (min-width:768px){
        font-size: 30px;
      }  
    }
  }
  .text-box {
    width: 60%;
    margin-right: 40%;
    position: relative;
    p {
      margin-bottom: 30px;
      span {
        border-bottom: solid #3D424B 1px;
        line-height: 3;
      }
    }
    h5 {
      text-align: left;
    }
  }
  .img-box {
    width: 257px;
    height: auto;
    position: absolute;
    top: 50px;
    right: -400px;
  }
  nav{
    display: block;
    background: #FFF3EF;
    p {
      font-size: 14px;
      line-height: 2;
      padding: 30px;
      color: #3D424B;
      @media screen and (min-width:768px){
        font-size: 18px;
      } 
      }
  }

  .nav-open {
    font-size: 14px;
    text-align: left;
    padding: 15px 30px 15px 0;
    border-bottom: #EEE1E1 solid 2px;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    font-weight: bold;
    @media screen and (min-width:768px){
      font-size: 18px;
    }  
  }
  .nav-open::before {
    position: absolute;
    right: 0px;
    top: 45%;
    width: 14px;
    height: 14px;
    border-bottom: 4px solid #e95520;
    border-left: 4px solid #e95520;
    transform: translate(-50%,-50%) rotate(-45deg);
    content: "";
    transition: transform .5s;
  }
  .active::before {
    position: absolute;
    right: 0px;
    top: 55%;
    width: 14px;
    height: 14px;
    border-bottom: 4px solid #e95520;
    border-left: 4px solid #e95520;
    transform: translate(-50%,-50%) rotate(135deg);
    content: "";
    transition: transform .5s;
  }


  .comment_wrap p {
    font-size: 14px;
    margin: 30px 0;
    font-weight: bold;
    color: #e95520;
    @media screen and (min-width:768px){
      font-size: 18px;
      text-align: center;
      margin: 50px 0;
    } 
  }

  

  .form_link_button_wrap {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      height: 65px;
      width: 250px;
      justify-content: center;
      align-items: center;
      background-color: #e95520;
      border: solid 1px #e95520;
      color: #fff;
      font-size: 16px;
      transition: .2s;
      @media screen and (min-width:768px){
        height: 80px;
        width: 350px;
        color: #fff;
        font-size: 20px;
      } 
      &:hover {
        border: solid 1px #e95520;
        background-color: #fff;
        color: #e95520;
  
      }
    }
  }
  
}


