@charset "UTF-8";
/* CSS Document */
.contents {
  width: 100%;
}

#main-visual .topTtlInner {
  position: relative;
}
@media screen and (min-width: 960px) {
  #main-visual .topTtlInner {
    padding-top: 0;
  }
}

.ttlWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.ttlWrap .enTtl {
  font-size: 4rem;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  -webkit-animation: enTtl 2s ease both;
          animation: enTtl 2s ease both;
  display: block;
}
@media screen and (min-width: 960px) {
  .ttlWrap .enTtl {
    font-size: 8rem;
  }
}
.ttlWrap .jpTtl {
  font-size: 1.6rem;
  padding-top: 10px;
  -webkit-animation: jpTtl 2s ease 1s both;
          animation: jpTtl 2s ease 1s both;
  display: block;
}
@media screen and (min-width: 768px) {
  .ttlWrap .jpTtl {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 960px) {
  .ttlWrap .jpTtl {
    font-size: 2.4rem;
    padding-top: 20px;
  }
}

@-webkit-keyframes enTtl {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes enTtl {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes jpTtl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jpTtl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.topImg img {
  width: 100%;
  vertical-align: bottom;
}

#panNavi {
  padding: 10px 15px 0;
}
#panNavi a {
  position: relative;
  color: #000;
}
#panNavi a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  bottom: -3px;
}
#panNavi a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
#panNavi .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 1.2rem;
  line-height: 1;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
  word-break: break-all;
  padding-bottom: 10px;
}
#panNavi .list li:not(:first-child) {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 0 0 10px;
}
#panNavi .list li:not(:first-child)::before {
  content: "＞";
  color: #000;
  padding-left: 0px;
  left: 0;
  display: inline-block;
  position: absolute;
}
@media screen and (min-width: 768px) {
  #panNavi {
    padding: 10px 40px 0;
  }
}
@media screen and (min-width: 960px) {
  #panNavi {
    position: fixed;
    top: 60px;
    color: #fff;
    width: calc(100% - 60px);
    padding: 10px 30px 10px;
    background-color: transparent;
    -webkit-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    z-index: 999;
  }
  #panNavi a {
    color: #fff;
  }
  #panNavi a::after {
    background: #fff;
  }
  #panNavi .list {
    padding-bottom: 0px;
    overflow-x: visible;
  }
  #panNavi .list li:not(:first-child)::before {
    color: #fff;
  }
  #panNavi.white {
    -webkit-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    color: #000;
    background-color: #fff;
    border-bottom: solid 1px #e5e5e5;
  }
  #panNavi.white a {
    color: #000;
  }
  #panNavi.white a::after {
    background: #000;
  }
  #panNavi.white .list li:not(:first-child)::before {
    color: #000;
  }
}

#leadWrap {
  padding: 60px 15px 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #leadWrap {
    padding: 60px 40px 0;
  }
}
@media screen and (min-width: 960px) {
  #leadWrap {
    max-width: 1100px;
    margin: 0 auto;
  }
}
#leadWrap .enTtl {
  font-size: 2rem;
  color: #e95520;
  letter-spacing: 1.5px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
#leadWrap .jpTtl {
  font-size: 2rem;
}
@media screen and (min-width: 960px) {
  #leadWrap .jpTtl {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 1280px) {
  #leadWrap .jpTtl {
    font-size: 2.4rem;
  }
}
#leadWrap p {
  font-size: 1.3rem;
  line-height: 2;
  text-align: justify;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  #leadWrap p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 960px) {
  #leadWrap p {
    font-size: 1.8rem;
    max-width: 1100px;
  }
}
#leadWrap .textCenter {
  text-align: left;
}
@media screen and (min-width: 960px) {
  #leadWrap .textCenter {
    text-align: center;
  }
}

.innerWrap1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#aboutUsingWrap {
  padding: 60px 15px 0;
}
@media screen and (min-width: 768px) {
  #aboutUsingWrap {
    padding: 60px 40px 0;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 960px) {
  #aboutUsingWrap {
    max-width: 1100px;
    margin: 0 auto;
  }
}
#aboutUsingWrap a {
  font-size: 1.2rem;
  position: relative;
  color: #e95520;
}
@media screen and (min-width: 768px) {
  #aboutUsingWrap a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 960px) {
  #aboutUsingWrap a {
    font-size: 1.6rem;
  }
}
#aboutUsingWrap span {
  font-size: 1.2rem;
  padding-top: 15px;
  display: block;
}
@media screen and (min-width: 768px) {
  #aboutUsingWrap span {
    font-size: 1.4rem;
  }
}
#aboutUsingWrap p {
  font-size: 1.2rem;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  #aboutUsingWrap p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 960px) {
  #aboutUsingWrap p {
    font-size: 1.6rem;
  }
}

#aboutUsingWrap a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #e95520;
  bottom: -1px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  bottom: -1px;
}

#aboutUsingWrap a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.aboutWrap h3 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .aboutWrap h3 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 960px) {
  .aboutWrap h3 {
    font-size: 2rem;
  }
}

.pcWrap {
  padding: 15px;
  border: solid 1px #c5c5c5;
  margin-top: 30px;
}
.pcWrap h4 {
  font-size: 1.5rem;
}
.pcWrap ul {
  padding-top: 10px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .pcWrap ul {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 960px) {
  .pcWrap ul {
    font-size: 1.6rem;
  }
}
.pcWrap li {
  list-style-type: disc;
  margin-left: 15px;
}
.pcWrap .bs {
  padding-top: 15px;
}

.smartphonesWrap {
  padding: 15px;
  border: solid 1px #c5c5c5;
  margin-top: 30px;
}
.smartphonesWrap h4 {
  font-size: 1.5rem;
}
.smartphonesWrap ul {
  padding-top: 10px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .smartphonesWrap ul {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 960px) {
  .smartphonesWrap ul {
    font-size: 1.6rem;
  }
}
.smartphonesWrap li {
  list-style-type: disc;
  margin-left: 15px;
}
.smartphonesWrap .bs {
  padding-top: 15px;
}

.aboutWrap {
  margin-top: 30px;
}/*# sourceMappingURL=page-aboutUsing.css.map */